.main-screen {

}
/*
https://www.youtube.com/watch?v=JXHgDS8rIkM
<!-- SVG References -->
<svg class="icon">
  <use xlink:href="#sun"></use>
</svg>

<svg class="icon">
  <use xlink:href="#arrow-down"></use>
</svg>

<svg class="icon">
  <use xlink:href="#moon"></use>
</svg>

<svg class="icon">
  <use xlink:href="#quote"></use>
</svg>



#arrow-down {
  stroke: red;
  fill: none;
}
*/

.icon {
  width: 17px;
  height: 17px;
  fill: $white;
  margin-top: 5px;
}

.top-random-phrase {
	display: flex;
	align-items: start;
  padding: 56px 0;
  transition: all .3s ease-in;

  @media (max-width:$md3+px){
     padding: 80px 131px 80px 64px; 
  }

  &.random-none {
    transform: translateY(-100%);
  }
}