.main-clock__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #ffffff;

  @media (max-width:$md3+px){
     font-size: 18px; 
  }
  
}
.main-clock__digits {
  font-weight: 700;
  font-size: 200px;
  line-height: 200px;
  letter-spacing: -5px;
  color: #ffffff;
  @media (max-width:$md3+px){
     font-size: 175px; 
  }
}

#timezone {
	font-weight: 300;
	font-size: 40px;
	line-height: 28px;
  color: #ffffff;
  transform: translateY(-23px);

  @media (max-width:$md3+px){
     font-size: 32px; 
  }
}

.main-clock {
	text-align: left;

	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	flex-grow: 1;
}

.main-clock__icon {
	width: 24px;
	height: 24px;
	fill: #fff;
}

.clock {
  display: flex;
  align-items: flex-end;
}

.clocks {
  margin-top: 14%;
  transition: all .3s ease-in;

  @media (max-width:$md3+px){
     padding: 0 64px; 
  }

  &.clocks-active {
    transform: translateY(-100%);
  }
}

.main-clock__title {
  padding-left: 25px;
}