.main-clock__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #ffffff;

  @media (max-width:980px){
     font-size: 18px; 
  }
  @media (max-width:$md4+px){
     padding: 0; 
  }
  
}
.main-clock__digits {
  font-weight: 700;
  font-size: 200px;
  line-height: 200px;
  letter-spacing: -5px;
  color: #ffffff;
  @media (max-width:980px){
     font-size: 175px; 
  }

  @media (max-width:$md4+px){
     font-size: 80px; 
     line-height: 100px;
  }
}

#timezone {
	font-weight: 300;
	font-size: 40px;
	line-height: 28px;
  color: #ffffff;
  transform: translateY(-23px);

  @media (max-width: 980px){
    font-size: 32px;
    transform: translateY(-35px); 
 }

  @media (max-width:$md3+px){
     font-size: 32px; 
  }

  @media (max-width:$md4+px){
     font-size: 15px; 
     transform: translateY(-5px); 
     margin-left: 5px;
  }
}

.main-clock {
	text-align: left;

	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	flex-grow: 1;
}

.main-clock__icon {
	width: 24px;
	height: 24px;
	fill: #fff;
}

.clock {
  display: flex;
  align-items: flex-end;
}

.clocks {
  margin-top: 14%;
  transition: all .3s ease-in;

  &.clocks-active {
    transform: translateY(-100%);

    @media (max-width: 1135px){
       transform: translateY(-135%); 
    }
    @media (max-width:$md4+px){
       transform: translateY(-45%); 
    }
  }

  @media (max-width:$md4+px){
     padding: 0 30px; 
  }
}

.main-clock__title {
  padding-left: 25px;

  @media (max-width:$md4+px){
     font-size: 15px;
     padding: 0; 
  }

  
}