.more {
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #808080;

  padding: 15px 9px 15px 21px;
  background: #ffffff;
  border-radius: 28px;
  height: 56px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;

  &:hover {
    .more__icon {
      background-color: #999999;
    }
    
  }

  @media (max-width:$md4+px){
     font-size: 12px; 
     padding: 13px 4px 13px 17px;
     line-height: 14px;
  }
}

.more-icon {
	width: 12px;
	height: 6px;
	fill: none;
	stroke: #fff;
  transition: all 0.3s ease-in-out;

  @media (max-width:$md4+px){
     width: 10px;height: 5px; 
  }
}

.more__icon{
	margin-left: 13px;
	width: 40px;
	height: 40px;
	background-color: #303030;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
  transition: all .3s ease-in;
@media (max-width:$md4+px){
   width: 32px;
   height: 32px; 
}

}

.more-icon.btn-active {
  transform: rotate(180deg);
}

.more-btn {
  position: absolute;
  right: 10%;
  bottom: 10%;

  @media (max-width: 1135px){
     bottom: 3%; 
     left: 1%;
  }
  @media (max-width:$md4+px){
     left: 8%; 
     bottom: 5%;
  }
}