#random-phrase {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: $white;
  max-width: 580px;
  transition: all .3s ease-in-out;

  min-height: 150px;
  min-width: 580px;

  @media (max-width: 1135px){
     min-width: 325px; 
  }

  @media (max-width:$md3+px){
     font-size: 12px;
     min-width: auto; 
  }
  @media (max-width:$md4+px){
     min-width: auto; 
  }
}

#random-phrase #quotation {
  text-align: left;
  margin-bottom: 15px;
  transition: all .3s ease-in-out;
}

#random-phrase #source {
  font-weight: 700;
  transition: all .3s ease-in-out;
}

#next-quote {
  padding-left: 10px;
}

#timezone {

}