@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  min-height: 100vh;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow-y: hidden;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
}

/**
 * Basic typography style for copy text
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media (max-width: 1520px) {
  .main-screen {
    padding: 0 30px;
  }
}

/*
https://www.youtube.com/watch?v=JXHgDS8rIkM
<!-- SVG References -->
<svg class="icon">
  <use xlink:href="#sun"></use>
</svg>

<svg class="icon">
  <use xlink:href="#arrow-down"></use>
</svg>

<svg class="icon">
  <use xlink:href="#moon"></use>
</svg>

<svg class="icon">
  <use xlink:href="#quote"></use>
</svg>



#arrow-down {
  stroke: red;
  fill: none;
}
*/
.icon {
  width: 17px;
  height: 17px;
  fill: #ffffff;
  margin-top: 5px;
}

.top-random-phrase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 56px 0;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

@media (max-width: 767.98px) {
  .top-random-phrase {
    padding: 32px 26px;
  }
}

.top-random-phrase.random-none {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.main-clock__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 980px) {
  .main-clock__title {
    font-size: 18px;
  }
}

.main-clock__digits {
  font-weight: 700;
  font-size: 200px;
  line-height: 200px;
  letter-spacing: -5px;
  color: #ffffff;
}

@media (max-width: 980px) {
  .main-clock__digits {
    font-size: 175px;
  }
}

#timezone {
  font-weight: 300;
  font-size: 40px;
  line-height: 28px;
  color: #ffffff;
  -webkit-transform: translateY(-23px);
          transform: translateY(-23px);
}

@media (max-width: 767.98px) {
  #timezone {
    font-size: 32px;
  }
}

.main-clock {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main-clock__icon {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.clocks {
  margin-top: 14%;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.clocks.clocks-active {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

@media (max-width: 1135px) {
  .clocks.clocks-active {
    -webkit-transform: translateY(-135%);
            transform: translateY(-135%);
  }
}

.main-clock__title {
  padding-left: 25px;
}

.modal__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.modal {
  width: 100%;
  position: absolute;
  background: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(40.7742px);
          backdrop-filter: blur(40.7742px);
  padding: 74px 165px 32px;
  left: 0;
}

@media (max-width: 1135px) {
  .modal {
    padding: 35px 65px 0px;
  }
}

.modal__left {
  padding-right: 148px;
  border-right: 1px solid #b5b8ba;
}

@media (max-width: 980px) {
  .modal__left {
    padding-right: 65px;
  }
}

.modal__right {
  padding-left: 94px;
}

@media (max-width: 980px) {
  .modal__right {
    padding-left: 65px;
  }
}

.modal__subtitle {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #303030;
  margin-bottom: 9px;
}

@media (max-width: 980px) {
  .modal__subtitle {
    font-size: 13px;
  }
}

.modal__info {
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  color: #303030;
  margin-bottom: 42px;
}

@media (max-width: 980px) {
  .modal__info {
    font-size: 40px;
  }
}

.menu__body {
  bottom: -100%;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.menu__body.burger-active {
  bottom: 0;
}

.more.btn-more-active {
  -webkit-transform: translateY(-350px);
          transform: translateY(-350px);
}

.more {
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #808080;
  padding: 15px 9px 15px 21px;
  background: #ffffff;
  border-radius: 28px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
}

.more:hover .more__icon {
  background-color: #999999;
}

.more-icon {
  width: 12px;
  height: 6px;
  fill: none;
  stroke: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.more__icon {
  margin-left: 13px;
  width: 40px;
  height: 40px;
  background-color: #303030;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.more-icon.btn-active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.more-btn {
  position: absolute;
  right: 10%;
  bottom: 10%;
}

@media (max-width: 1135px) {
  .more-btn {
    bottom: 3%;
    left: 1%;
  }
}

#random-phrase {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  max-width: 580px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  min-height: 150px;
  min-width: 580px;
}

@media (max-width: 1135px) {
  #random-phrase {
    min-width: 325px;
  }
}

@media (max-width: 767.98px) {
  #random-phrase {
    font-size: 12px;
    min-width: 450px;
  }
}

#random-phrase #quotation {
  text-align: left;
  margin-bottom: 15px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#random-phrase #source {
  font-weight: 700;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#next-quote {
  padding-left: 10px;
}

@media (max-width: 980px) {
  #timezone {
    font-size: 32px;
    -webkit-transform: translateY(-35px);
            transform: translateY(-35px);
  }
}

/*
==========================================================
В Хедере нужно чтобы была такая обертка:

.header__menu

внутри сам бургер 

<div class="icon-menu">
<span></span>
<span></span>
<span></span>
</div>

и ниже пункты меню, которые уберутся в бургер

nav.menu__body
  ul
    li
      a

*/
@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.315);
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body.burger-active {
    left: 0;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #000;
  }
  .header__menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px;
  }
  .header__menu-item {
    padding: 20px;
    margin: 20px;
  }
}

.icon-menu {
  display: none;
}

@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.664);
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon-menu.burger-active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .icon-menu.burger-active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu.burger-active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

/*
.menu {
  &__list {
    @media (min-width: $md3+px) {
      display: flex;
      align-items: center;
    }

    & > li {
      position: relative;
      margin: 0px 0px 0px 20px;

      @media (min-width: $md3+px) {
        padding: 10px 0;
      }
    }
  }

  // верстка самих пунктов меню

  &__link {
    color: #fff;
    font-size: 18px;
  }

  &__sub-list {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #000;
    padding: 15px;
    min-width: 200px;

    @media (min-width: $md3+px) {
      transform: translate(0px, 10%);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease 0s;
      pointer-events: none;
    }
  }

  &__sub-item {
    margin: 0px 0px 10px 0px;

    &:last-child {
      margin: 0;
    }
  }

  &__sub-link {
    color: #fff;
  }

  &__arrow {
	  display: none;
  }
}


==========================================================
если устройство - ноут или комп, то подменю показывается как обычно при наведении мышкой
если устройство - телефон, появляется стрелочка, которая переворачивается при клике


body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__list > li {
	display: flex;
	align-items: center;
}

body._touch .menu__link {
	flex: 1 1 auto;
}

body._touch .menu__arrow {
	display: block;
	margin: 0px 0px 0px 5px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #fff;
	transition: transform 0.3s ease 0s;
}

body._touch .menu__list > li.active .menu__sub-list {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
 }

 body._touch .menu__list > li.active .menu__arrow {
	 transform: rotate(-180deg);
 }
*/
