// This file contains very basic styles.

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// main styles for the layout

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: $black;

  min-height: 100vh;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow-y: hidden;

  &.lock {
    overflow: hidden;
  }
}

.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  // padding: 56px 15px 98px 15px;
  min-height: 100vh;
  position: relative;
}
